<?xml version="1.0" encoding="utf-8"?>

<launch>
    <!-- Topics -->
    <arg name="altitude" default="/sparus/cola2_perception/altitude"/>
    <arg name="body_velocity_req_ibvs" default="/ibvs/cola2_control/body_velocity_req"/>
    <arg name="body_velocity_req" default="/sparus/cola2_control/body_velocity_req"/>
    <!-- Common params -->
    <arg name="camera_ns"           default="/sparus/stereo_camera" />
    <arg name="girona_camera_ns"    default="/girona500/stereo_camera" />
    <arg name="image"               default="image_rect_color" />
    <arg name="image_repub"         default="image_repub" />
    <arg name="target_from_file"    default="" />
    <arg name="debug"               default="true" />

    <!-- Visual Servoing params -->
    <arg name="camera_angle"        default="0.7854" /> <!-- Angle WRT vertical -->
    <arg name="robot_frame"         default="sparus2" />
    <arg name="camera_frame"        default="left_optical" />

    <!-- Enable/disable -->
    <arg name="enable_vely"         default="true" />
    <arg name="enable_republish"    default="false" />
    <arg name="enable_recovery"     default="false" />

    <node pkg="tf" type="static_transform_publisher" name="sparus2_to_stereo" args="0.79325 -0.0725 0.1097 1.5708 0.0 0.79 $(arg robot_frame) $(arg camera_ns) 100" />
    <node pkg="tf" type="static_transform_publisher" name="stereo_to_left_optical" args="0.0 0.0 0.0 0.0 0.0 0.0 $(arg camera_ns) $(arg camera_frame) 100" />

    <!-- Republish SparusII camera -->
    <node if="$(arg enable_republish)" pkg="image_transport" name="republish_s2" type="republish" args="compressed">
      <remap from="in" to="$(arg camera_ns)/left/$(arg image)"/>
      <remap from="out" to="$(arg camera_ns)/left/$(arg image_repub)"/>
    </node>

    <!-- Republish Girona500 camera -->
    <node if="$(arg enable_republish)" pkg="image_transport" name="republish_g500" type="republish" args="compressed">
      <remap from="in" to="$(arg girona_camera_ns)/left/$(arg image)"/>
      <remap from="out" to="$(arg girona_camera_ns)/left/$(arg image_repub)"/>
    </node>

    <node pkg="merbots_gui" type="merbots_gui" name="merbots_gui" output="screen"/>

    <rosparam command="load" file="$(find merbots_gui)/launch/visual_servoing_params.yaml" />

    <!-- Detection and Tracking -->
    <node pkg="merbots_tracking" type="det_and_track_node" name="det_and_track" output="screen">
        <param name="camera_angle" value="$(arg camera_angle)" />
        <remap from="~dist" to="$(arg altitude)" />
        <remap from="~camera_info" to="$(arg camera_ns)/right/camera_info" />
        <remap unless="$(arg enable_republish)" from="~image" to="$(arg camera_ns)/left/$(arg image)" />
        <remap if="$(arg enable_republish)" from="~image" to="$(arg camera_ns)/left/$(arg image_repub)" />
    </node>

    <!-- Visual Servoing -->
    <node pkg="merbots_ibvs" type="ibvs_node" name="ibvs" output="screen">
        <param name="camera_angle" value="$(arg camera_angle)" />
        <param name="robot_frame" value="$(arg robot_frame)" />
        <param name="camera_frame" value="$(arg camera_frame)" />

        <remap from="~twist" to="$(arg body_velocity_req_ibvs)" />
        <remap from="~target" to="/det_and_track/target" />
        <remap from="~roi" to="/det_and_track/roi" />
        <remap from="~dist" to="$(arg altitude)" />
        <remap from="~camera_info" to="$(arg camera_ns)/right/camera_info" />
        <remap unless="$(arg enable_republish)" from="~image" to="$(arg camera_ns)/left/$(arg image)" />
        <remap if="$(arg enable_republish)" from="~image" to="$(arg camera_ns)/left/$(arg image_repub)" />
    </node>

    <node pkg="merbots_ibvs" type="target_pose_publisher_node" name="target_pose_publisher_node" output="screen">
        <param name="camera_angle" value="$(arg camera_angle)" />
        <remap from="~roi" to="/det_and_track/roi" />
        <remap from="~dist" to="$(arg altitude)" />
        <remap from="~camera_info" to="$(arg camera_ns)/right/camera_info" />
    </node>

    <!-- IBVS recovery -->
    <node if="$(arg enable_recovery)" pkg="merbots_ibvs_recovery" type="merbots_ibvs_recovery" name="merbots_ibvs_recovery" output="screen">
        <remap from="nav_sts" to="/cola2_navigation/nav_sts"/>
        <remap from="ibvs_info" to="/ibvs/ibvs_info"/>
    </node>
</launch>
